.header {
    height: 100vh;
    background-color: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
    .content {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 80%;
      width: 90%;
      background-color: violet;
      .left,
      .right {
        background-color: coral;
        height: 100%;
      }
      .left {
        width: 30%;
      }
      .right {
        width: 50%;
      }
    }
}